<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org">
    <!---->
    <div th:replace="~{fragments/head :: head ('Товары')}"></div>
    <!---->
    <body>
        <!---->
        <div class="container text-black fs-5 my-5">
            <!---->
            <div class="row mb-2">
                <div class="col mx-auto">
                    <h1 class="fs-4">Товары</h1>
                </div>
            </div>
            <!---->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center g-5">
                <div class="col mx-auto" th:each="each : ${products}">
                    <div class="card bg-light">
                        <img th:src="@{/uploads/__${each.imageName}__}" width="256" height="256" class="card-img-top rounded px-2 pt-2" alt="Изображение" />
                        <div class="card-body text-start">
                            <h5 class="card-title text-center mb-3" th:text="${each.name}"></h5>
                            <div class="mb-1">
                                <span class="fw-semibold">Описание:</span>
                                <span th:text="${each.description}"></span>
                            </div>
                            <div class="mb-1">
                                <span class="fw-semibold">Цена:</span>
                                <span th:text="${each.price}"></span>
                            </div>
                            <div class="mb-1">
                                <span class="fw-semibold">Статус:</span>
                                <span th:text="${each.status}"></span>
                            </div>
                            <div class="mb-1">
                                <span class="fw-semibold">Категория:</span>
                                <span th:text="${each.category.name}"></span>
                            </div>
                            <div class="mb-2">
                                <span class="fw-semibold">Дата:</span>
                                <span th:text="${each.creationDate}"></span>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <a href="#" th:href="@{/products/edit/__${each.id}__}" class="btn btn-success w-100 me-2">Изменить</a>
                                <button class="btn btn-danger w-100" th:attr="onclick=|fetchDelete('products', ${each.id})|">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row mt-3">
                <div class="col mx-auto">
                    <a href="#" th:href="@{/products/add}" class="btn btn-lg btn-primary">Создать</a>
                </div>
            </div>
            <!---->
            <form id="csrf-form" action="#" th:action="@{/api/categories}" method="post" class="d-none"></form>
            <!---->
        </div>
        <!---->
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/entity-delete.js}"></script>
        <!---->
    </body>
    <!---->
</html>
