<!DOCTYPE html>

<html lang="ru" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <!---->
    <div th:replace="~{fragments/head :: head ('Товары')}"></div>
    <!---->
    <body>
        <!---->
        <div class="container text-black fs-5 my-5">
            <!---->
            <div class="row mb-4">
                <div class="col mx-auto">
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h1 class="fs-4">Товары</h1>
                        <div class="d-flex flex-row align-items-center justify-content-between">
                            <input type="text" name="name" class="form-control me-1" placeholder="Название" />
                            <input type="number" step="0.01" name="priceFrom" class="form-control me-1" placeholder="Цена: от" />
                            <input type="number" step="0.01" name="priceTo" class="form-control me-1" placeholder="Цена: до" />
                            <input type="text" name="categoryName" class="form-control me-1" placeholder="Категория" />
                            <button onclick="search()" class="btn btn-primary">Найти</button>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 text-center g-5">
                <div class="col mx-auto" th:each="each : ${products}">
                    <div class="card bg-light">
                        <img th:src="@{/uploads/__${each.imageName}__}" width="256" class="card-img-top rounded px-2 pt-2" alt="Изображение" />
                        <div class="card-body text-start">
                            <h5 class="card-title text-center mb-3" th:text="${each.name}"></h5>
                            <div class="mb-1">
                                <span class="fw-semibold">Описание:</span>
                                <span th:text="${each.description}"></span>
                            </div>
                            <div class="mb-1">
                                <span class="fw-semibold">Цена:</span>
                                <span th:text="${each.price}"></span>
                                <span>₽</span>
                            </div>
                            <div class="mb-1">
                                <span class="fw-semibold">Статус:</span>
                                <span th:text="${each.status ? 'Активен' : 'Неактивен'}"></span>
                            </div>
                            <div class="mb-1">
                                <span class="fw-semibold">Категория:</span>
                                <span th:text="${each.category != null ? each.category.name : 'Отсутствует'}"></span>
                            </div>
                            <div class="mb-2">
                                <span class="fw-semibold">Создан:</span>
                                <span th:text="${each.formattedCreationDate}"></span>
                            </div>
                            <div class="d-flex flex-row align-items-center justify-content-between">
                                <a href="#" th:href="@{/products/edit/__${each.id}__}" class="btn btn-success w-100 me-2" sec:authorize="hasRole('ADMIN')">Изменить</a>
                                <button class="btn btn-danger w-100" th:attr="onclick=|fetchDelete('products', ${each.id})|" sec:authorize="hasRole('ADMIN')">Удалить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="row text-center mt-4">
                <div class="col mx-auto">
                    <a href="#" th:href="@{/products/add}" class="btn btn-lg btn-primary" sec:authorize="hasRole('ADMIN')">Создать</a>
                </div>
            </div>
            <!---->
            <form id="csrf-form" action="#" th:action="@{/api/products}" method="post" class="d-none"></form>
            <!---->
        </div>
        <!---->
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/entity-delete.js}"></script>
        <script th:src="@{/js/product-search.js}"></script>
        <!---->
    </body>
    <!---->
</html>
